<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanshul.player">

    <!--Declare screen type support-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--Declare all permissions here-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--SDK 23+ (Marshmallow) permissions-->
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:name="com.tanshul.player.PlayerApp"
        android:roundIcon="@drawable/ic_app_launcher"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">

        <!--Declare all activities here-->
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HomeActivity" />

        <activity
            android:name=".activity.AudioActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity"/>
        </activity>
    </application>
</manifest>
